@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&family=Poppins:wght@400;500&family=Ubuntu:wght@300&family=Work+Sans:wght@600&display=swap');

*{
  position: relative;
  margin: 0px;
  padding: opx;
  box-sizing: border-box;

  z-index: 0;
  overflow: hidden;
}

a{
    text-decoration: none;
}

.header{
    position: relative;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
   

}

#logo{
    width: 318px;
    margin-top: 13px;
    margin-left: -13px;
}

main{
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-form{

position: relative;
width: 23%;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
border: none;
margin-bottom: 10px;

}

form{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 10px;
}

#form-header{
    font-size: 1.3rem;
    margin-top: -50px;
    color: #1E2023;

    font-family: 'Arimo', sans-serif;
    padding: 0px 20px;
    
}

#form-des{
 color: darkgrey;
 margin: 5px;
 font-size: 0.9rem;
 font-weight: 400;
}


.name{
   position: relative;
   display: flex;
   margin-top: 20px;
   height: auto;
   width: 100%;
   justify-content: space-between;
   
}

.name>input{
    position: relative;
    width: 47%;
    height: 40px;
    padding-bottom: 7px;
    padding-left: 8px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
}



.form-input{
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-bottom: 7px;
    padding-left: 8px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
}

#dob{
    color:#92969D;
    font-size: 0.8rem;
    letter-spacing: -0.9px;
    left: -138px;
    top:10px;
    display: flex;
    position: relative;
}

.fa-question-circle{
    margin-left: 4px;
}

.form-dob{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
}

.form-dob>input{
    position: relative;
    width: 31%;
    height: 36px;
    padding-bottom: 7px;
    padding-left: 8px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
    margin-top: 6px;
}

#gender{
    color:#92969D;
    font-size: 0.8rem;
    letter-spacing: -0.9px;
    left: -153px;
    top:10px;
    display: flex;
    position: relative;
}

.form-gender{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.form-gender>div{

    display: flex;
    width: 31%;
    height: 36px;
    border-radius: 5px;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
    margin-top: 6px;
    padding-top: 7px;
    padding-left: 8px;
}

.form-gender>div>label{
    color: #353b48;
    font-weight: 580;
    
    align-items: center;
}
.form-gender>div>input{
      margin-top: -7px;
 
}

#ra-1{
 margin-left: 26px;
}
#ra-2{
    margin-left: 42px;
}

#ra-3{
    margin-left: 23px;
}
